.translucency-rule-black {
    backdrop-filter: var(--apt-styling-blur-strength);
    -webkit-backdrop-filter: var(--apt-styling-blur-strength);
    background-color: var(--apt-accent-back-transparent) !important;
}

.translucency-rule {
    backdrop-filter: var(--apt-styling-blur-strength);
    -webkit-backdrop-filter: var(--apt-styling-blur-strength);
    background-color: var(--apt-accent-shade-4-shadow) !important;
}

.bordered {
    border: solid;
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
}

.sub {
    font-style: oblique;
    font-size: smaller;
    color: var(--apt-accent-sub);
}

.tooltip-apt {
    font-family: var(--apt-font-style-sans);
    font-size: var(--apt-styling-common-font-size-smaller);
    border: solid;
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
    --bs-tooltip-bg: var(--apt-accent-shade-3);
    --bs-tooltip-color: var(--apt-accent-2);
    --bs-tooltip-max-width: 700px;
    --bs-tooltip-border-radius: var(--apt-styling-border-radius);
    --bs-tooltip-arrow-width: 0px;
    --bs-tooltip-arrow-height: 0px;
}

.background-primary {
    background: var(--apt-accent-back);
}

.background-alternative {
    background: var(--apt-accent-back-alternative);
}

.background-gradient {
    background: var(--apt-accent-back-gradient);
}
